<div class="user-management">
  <% @users.each do |user|%>
    <ul>
      <li>
        <%= link_to user.name, user_path(user.id) %>
        <%= link_to "削除", user_path(user.id), data: { turbo_method: :delete } %>
      </li>
    </ul>
  <% end %>
</div>