<div class='wrapper'>
  <div class='side-bar'>
    <%= render "messages/side_bar" %>
  </div>
  <div class="working-origin">
    working<br>
    <br>
    ・左の項目で自分の名前を探し、自分の名前がある場所名をクリックしてください。<br>
    <br>
    ・その場所の中に今日の作業内容が記載してありますので作業が完了したら報告してください。<br>
    <br>
    ・気になることや報告があればフォームに記載し、送信して下さい。
  </div>
</div>