<div class='wrapper'>
  <div class='side-bar'>
    <%= render "messages/side_bar" %>
  </div>
  <div class="working-origin">
    working<br>
    <br>
    左の項目の場所名:〇〇←をクリックしてください。<br>
    <br>
    場所〇〇をクリックすると、その場所の詳細ページへ遷移します。<br>
    <br>
    今日の作業内容が記載してありますので確認して作業が完了したら報告してください。<br>
    <br>
    気になることや連絡事項があればフォームに記載し、送信して下さい。
  </div>
</div>